<footer class="bg-Slate-100 body-font border-b mt-10 py-4 px-5 flex flex-wrap flex-col sm:flex-row">
  <p class="text-gray-500 text-sm text-center sm:text-left">
    <a>© 2024.Shima</a>
  </p>
  <span class="inline-flex sm:ml-auto sm:mt-0 mt-2 justify-center sm:justify-start">
      <a class="ml-2" href="https://twitter.com/intent/tweet?text=名僧マッチ（診断×歴史の名僧）%0A&hashtags=診断,名僧,歴史&url=<%= ERB::Util.url_encode(root_url) %>"
        target="_blank" rel="nofollow">
          <i class="fa-brands fa-square-x-twitter fa-2x"></i>
      </a>
  </span>
</footer>
