<header class="text-gray-300 body-font border-b xs:border-b-1 lg:border-b-6">
  <div class="container flex flex-wrap p-5 md:flex-row items-center">
    <a href="<%= root_path %>" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
      <%= image_tag('22225678.jpg', alt: '名僧診断', class: 'w-10 h-10 text-white p-0.5 bg-indigo-500 rounded-full') %>
        <span class=" ml-3 text-xl sm:text-2xl md:text-4xl lg:text-4xl">名僧マッチ</span>
    </a>
  </div>
</header>