<div class="flex flex-col items-center justify-center bg-white text-center space-y-3 px-4 md:px-8 mt-9">
  <p class="text-6xl font-extrabold text-gray-800">名僧マッチ</p>
  <p class="text-lg font-medium text-gray-600">性格診断であなたに合う名僧たちに出会う</p>
  
 <! -- トップ画像挿入予定 -->
  <%= image_tag '22225678.jpg', alt: 'トップ画面僧侶', class: "w-full max-w-md py-4" %>


  <div class="mt-9">
    <%= link_to "診断する", new_personality_test_path, class: 'inline-block bg-blue-300 hover:bg-blue-400 text-black font-semibold py-3 px-6 rounded-md shadow-md transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' %>
  </div>
</div>
