<div class="flex flex-col items-center justify-center min-h-screen bg-white text-center space-y-8 px-4 md:px-8">

  <p class="text-4xl font-extrabold text-gray-800">名僧診断</p>
  <p class="text-lg font-medium text-gray-600">簡単診断であなたに合う名僧たちに出会う</p>
  <p class="text-lg font-medium text-gray-600">ユーザー登録でみんなと体験を共有</p>

 <! -- トップ画像挿入予定 -->

  <div class="mt-6">
    <%= link_to "診断する", "#", class: 'inline-block bg-blue-600 hover:bg-blue-700 text-white font-semibold py-3 px-6 rounded-lg shadow-md transition duration-300 ease-in-out transform hover:scale-105 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50' %>
  </div>
</div>
