<div class="max-w-4xl mx-auto p-6 bg-gray-99 rounded-lg shadow-lg border border-gray-200 mt-8">
  
  <h1 class="animation-fadeIn1 text-5xl font-semibold text-center text-gray-800 mb-4">診断結果</h1>
<div class="animation-fadeIn2">
  <div class=" flex justify-center mb-6">
    <%= image_tag @result.image_path, alt: "診断結果画像", class: "w-64 h-64 object-cover rounded-full border-4 border-gray-200 shadow-md", style: " object-position: center 10%;" %>
  </div>

  <div class="text-center">
    <p class="text-2xl font-bold text-gray-800 mb-2">
     <%= @result.name %> 
    </p>
    <p class="text-lg font-medium text-gray-800 mb-2">
    <%= @result.title %>
    </p>
    <p class="text-lg font-medium text-gray-800 mb-2">
    <%= @result.description %> 
    </p>
  </div>
<div> 
</div>
