@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in1 {
  0% { opacity: 0; transform: translate3d(0,-20px,0); }
  100% { opacity: 1; transform: translate3d(0,0,0); }
}

.animation-fadeIn1 {
  animation-name: fade-in1;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fade_in2 {
  0% {opacity: 0}
  100% {opacity: 1}
}

.animation-fadeIn2 {
  animation-name: fade_in2;
  animation-duration:4s;
  animation-timing-function: ease-out;
  animation-delay:0s;
  animation-iteration-count:1;
  animation-direction:normal;
  animation-fill-mode: forwards;
}

.gradation-image{
  background-image: url("gradation.png");
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}

@media (max-width: 930px) {
  .gradation-image {
    background-image: url("mobile_gradation.png");
  }
}
